<?xml version="1.0"?>

<!--
License: Apache 2.0. See LICENSE file in root directory.
Copyright(c) 2017 PAL Robotics, S.L. All Rights Reserved

This is the Gazebo URDF model for the Intel RealSense D435 camera
-->
  
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:macro name="gazebo_d435" params="camera_name reference_link" >

    <!-- Load parameters to model's main link-->
      <plugin filename="ImageDisplay" name="Image Display">
        <gz-gui>
          <title>RGB camera</title>
          <property key="state" type="string">floating</property>
          <property type="double" key="width">350</property>
          <property type="double" key="height">315</property>
        </gz-gui>
        <topic>"${camera_name}"/camera_info</topic>
        <topic_picker>false</topic_picker>
      </plugin>
  </xacro:macro>
</robot>